.dateInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.dateInput label {
  color: #716f6f;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.21875rem;
  text-transform: uppercase;
}

.dateInput input {
  color: var(--Black, #151515);
  font-size: clamp(1.25rem, 0.0364rem + 2.1818vw, 2rem);
  font-weight: 700;
  letter-spacing: 0.02rem;
  -webkit-appearance: none;
  -moz-appearance: textfield;

  display: flex;
  width: 10rem;
  padding: 0.75rem 1.5rem;
  align-items: center;
  gap: 1rem;
  opacity: 0.5;

  border-radius: 0.5rem;
  border: 1px solid var(--Line, #dcdcdc);
}

.error {
  color: var(--Red, #ff5959);
}

.error input {
  border: 1px solid #ff5959;
}

.error label {
  color: var(--Red, #ff5959);
}

@media screen and (max-width: 890px) {
  .dateInput input {
    width: 3rem;
  }
}
