.itemHeader {
  display: flex;
  justify-content: space-between;
}

.itemHeader h1 {
  font-size: var(--font-header);
  font-weight: 700;
}

.itemHeader h3 {
  font-size: var(--font-header-mid);
  color: var(--purple);
  margin-top: 5%;
  font-weight: 400;
}

.itemHeader svg {
  width: clamp(2.813rem, 2.1528rem + 2.8169vw, 4.688rem);
  cursor: pointer;
  height: auto;
}

.itemHeader svg g:hover path {
  fill: white;
}

.itemHeader svg g:hover circle {
  fill: #a445ed !important;
  opacity: 1;
}
