.planetPhotoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.mercury {
  max-width: 30%;
}

.venus {
  max-width: 50%;
}

.earth {
  max-width: 60%;
}

.mars {
  max-width: 40%;
}

.jupiter {
  max-width: 80%;
}

.saturn {
  max-width: 80%;
}

.uranus {
  max-width: 70%;
}

.neptune {
  max-width: 70%;
}

.subImage {
  max-width: 20%;
  position: absolute;
  bottom: -1%;
}
