@use "../../../assets/partials/" as p;

.planetButtons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  button {
    @include p.header3;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    padding-left: 5rem;
    letter-spacing: 2.571px;
    height: 3rem;
    cursor: pointer;
    background: none;
    border: solid 1px rgba(255, 255, 255, 0.2);
    position: relative;
  }

  @for $i from 1 through 3 {
    button:nth-child(#{$i})::before {
      content: "0#{$i}";
      position: absolute;
      left: 2rem;
      top: 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.2;
    }
  }

  @media only screen and (max-width: 680px) {
    display: none;
  }
}

.planetButtonsTop {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  button {
    @include p.header3;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    letter-spacing: 2.571px;
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
  }

  button:hover {
    background: none !important;
  }

  @media only screen and (min-width: 681px) {
    display: none;
  }
}

.mercury:hover {
  background: #419ebb;
}

.venus:hover {
  background: #eda249;
}

.earth:hover {
  background: #6d2ed5;
}

.mars:hover {
  background: #d14c32;
}

.jupiter:hover {
  background: #d83a34;
}

.saturn:hover {
  background: #cd5120;
}

.uranus:hover {
  background: #1ec1a2;
}

.neptune:hover {
  background: #2d68f0;
}

.earth:active,
.mercury:active,
.venus:active,
.mars:active,
.jupiter:active,
.saturn:active,
.uranus:active,
.neptune:active {
  background: rgba(216, 216, 216, 0.2);
}
